
<div class="grocery-items__wrapper">
  <% if categories %>

    <% categories.each do |category| %>


      <div class="category-list-new">
        <h3 class="fridge-category"><%= category unless category == '?' %></h3>

        <% grocery_items.each do |item| %>
          <% if category == item.ingredient.category %>
            <div id="fridge-items-list" class="mt-3 fridge-items-list" data-item-id="<%= item.id %>">
                <%= render "grocery_item", item: item %>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>
    <%= render "checkbox", grocery_items: @grocery_items %>
  <% end %>
</div>
