<% if grocery_items.all? { |grocery_item| grocery_item.checked == true } %>

  <%= link_to check_all_grocery_items_path, method: 'patch', remote: true, class: "no-link checkbox", data: "checkbox" do %>
    <i class="far fa-check-square checkbox"></i>
    <h5>Check all items</h5>
  <% end %>

<% else %>

  <%= link_to check_all_grocery_items_path, method: 'patch', remote: true, class: "no-link checkbox",  data: "checkbox"  do %>
    <i class="far fa-square checkbox"></i>
    <h5>Check all items</h5>
  <% end %>

<% end %>
