
<div class="container fridge__container">

  <div class="fridge-wrapper">

    <div>
      <h2><i class="fas fa-tasks"></i></i>Grocery list</h2>

      <div class="category-wrapper">

        <div class="fridge-form"><%= render "form", user: current_user, grocery_item: GroceryItem.new %></div>

        <%= render "category_grid_wrapper", categories: @categories, grocery_items: @grocery_items %>


      </div> <!-- end of category wrapper -->

      <%= link_to "Update Grocery List", grocery_items_path, method: :patch, class: "button button-main-red button-center button-lg btn-update-groceries", id: "update-grocery", remote: true %>

    </div>

  </div> <!-- end of fridge wraper -->

</div>
