<div class="landing-page" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">


  <div class="landing-typed">
    <h1>
      <span id="banner-typed-text"><strong></strong></span>
    </h1>
  </div>
    <!-- # views/devise/menu/_login_items.html.erb -->
  <div class="landing-btn mt-5">

    <% unless user_signed_in? %>
    <!-- <div class="mt-5"> -->
      <%= link_to('Browse Recipes', recipes_path + "#recipes-container", class: "button-banner") %>
      <%= link_to('Login', new_user_session_path, class: "button-banner ml-3")  %>
      <%= link_to('Sign Up', new_user_registration_path, class: "button-banner ml-3")  %>
    <!-- </div> -->
    <% end %>


    </div>
  </div>
</div>
