<div class="landing-page" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544510808-91bcbee1df55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=764&q=80);">

  <div class="landing-typed">
    <h1>
      <span id="banner-typed-text"><strong></strong></span>
    </h1>
  </div>
    <!-- # views/devise/menu/_login_items.html.erb -->
  <div class="landing-btn">
    <%= link_to('Browse Recipes', recipes_path + "#recipes-container", class: "btn btn-outline-secondary") %>
    <% unless user_signed_in? %>
      <%= link_to('Login', new_user_session_path, class: "btn btn-outline-secondary")  %>
      <%= link_to('Sign Up', new_user_registration_path, class: "btn btn-outline-secondary")  %>
    <% end %>
    </div>
  </div>
</div>
