// Define variables for your color scheme

// For example:
$red: #DC3545;
$red-hover: #C82333;

$red-transparent: rgba(255, 0, 0, 0.1);

$blue: #167FFB;
$yellow: #E8BA14;

$orange: #FF9900;
// $orange: #E59329;

$green: #6ABD55;

$gray: #303030;
$gray-secondary: #686868;

$light-gray: #DADFE5;

$pink: #E04787;
$pink-hover: #D33474;

$info-blue: #70C9E0;
$info-blue-hover: #70C9E0;

$main-red: rgb(158, 31, 31);
$main-red-hover: #601515;
$main-red-transparent: rgba(158, 31, 31, 0.1);

$main-green: rgb(118, 162, 30);
$main-green-hover: #658917;
$main-green-transparent: rgba(118, 162, 30, 0.1);
$light-green: #c6cf65;
$lime: #f3ff93;


.rating-main-green {
  i {
    color: $main-green;
  }
}

.color-main-green {
  color: $main-green;
}

.color-main-red {
  color: $main-red;
}

.color-secondary {
  color: $gray-secondary;
}
