// Define variables for your color scheme

// For example:
$red: #DC3545;
$red-hover: #C82333;

$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #E04787;
$pink-hover: #D33474;
