.container.fridge__container  {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 500px) {
    margin-top: 6rem;
  }

  @media (min-width: 900px) {
    justify-content: space-between;
  }
}

.fridge-wrapper {
  display: flex;
  width: 100%;

  h2 {
    text-align: center;
    position:relative;

    @media (min-width: 900px) {
      text-align: left;
    }

  }
}

.fridge__logo {
  display: none;

  @media (min-width: 668px) and (max-width: 768px) {
    display: inline;
    position: absolute;
    left: 25%;
    top: -65%;
  }

  @media (min-width: 769px) {
    display: inline;
  }
}

.fridge__logo--mobile {
  display: none;
  @media (max-width: 500px) {
    display: inline;
    position: absolute;
    left: 10%;
    top: -50%;
  }
  @media (min-width: 501px) and (max-width: 667px) {
    left: 24%;
    display: inline;
    position: absolute;
    top: -50%;
  }
}

.fridge__body {
  width: 100%;
}


.category-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 900px) {
    margin-top: 2rem;
    grid-template-columns: 20% 80%;
    grid-gap: 1rem;
  }
}

.category-grid__wrapper {

  transition: all .5s ease-in-out;

  @media (min-width: 900px) {
    width: 90%;
    column-width: 20rem;
    column-gap: 1rem;
  }
}


.fridge-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: fixed;
  background-color: white;
  top: 50px;
  left: 0;
  z-index: 100;
  padding-bottom: 1rem;
  width: 100%;

  @media (min-width: 900px) {
    position: static;
    justify-content: flex-start;
    order: -1;
  }
}

.fas.fa-chevron-circle-down.grocery-arrow {
  font-size: 1.3rem;
  color: $orange;
}

.fas.fa-chevron-circle-down.fridge-arrow {
  font-size: 1.3rem;
  color: $main-green;
}

.form-group.select.required.fridge_item_ingredient {
  display: flex;
  flex-direction: column;
}

#fridge-items-list {
  font-size: 1.3rem;
  list-style: none;
  padding: 0;

  .quantity {
    margin-left: 1rem;
    width: 8rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 50;
  }

  i.math {
    font-size: 0.85rem;
    margin: 0 8px;
    @media (min-width: 900px) {
      font-size: 1rem;
    }
  }


}
