.container.fridge__container  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  @media (min-width: 900px) {
    justify-content: space-between;
    margin: 1.5rem 1rem;

  }
}

.fridge-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: 900px) {
    width: auto;
  }

  h2 {
    text-align: center;
    position:relative;
    margin-top: 1rem;

    @media (min-width: 900px) {
      text-align: left;
      margin-left: 3rem;
    }

  }
}

.fridge__body {
  width: 100%;
}

.fridge__logo {
  display: none;

  // @media (min-width: 668px) and (max-width: 768px) {
  //   display: inline;
  //   position: absolute;
  //   left: 25%;
  //   top: -65%;
  // }

  // @media (min-width: 769px) {
  //   display: inline;
  // }
}

.fridge__logo--mobile {
  width: 5rem;

  @media (max-width: 376px) {
    display: inline;
    position: absolute;
    left: 6%;
    top: -75%;
  }

  @media (min-width: 377px) and (max-width: 500px) {
    display: inline;
    position: absolute;
    left: 18%;
    top: -75%;
  }
  @media (min-width: 501px) {
    left: 19%;
    top: -75%;
    display: inline;
    position: absolute;
  }

  @media (min-width: 768px) {
    left: 28%;
    top: -75%;
    display: inline;
    position: absolute;
  }

  @media (min-width: 900px) {
    left: -11%;
    top: -75%;
    display: inline;
    position: absolute;
  }

  @media (min-width: 990px) {
    display: inline-block;
    position: initial;
  }
}


.category-wrapper {
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: 900px) {
    margin-top: 2rem;
    grid-template-columns: 20vw 70vw;
    grid-gap: 1rem;
  }
}

.category-grid__wrapper {

  transition: all .5s ease-in-out;

  @media (min-width: 900px) {
    width: 90%;
    column-width: 20rem;
    column-gap: 1rem;
  }
}


.fridge-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: fixed;
  background-color: white;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding-bottom: 1rem;
  width: 45%;
  border-radius: 0 0 5px 5px;
  border-right: 0.5px solid $main-green;
  border-left: 0.5px solid $main-green;
  border-bottom: 0.5px solid $main-green;

  @media (min-width: 900px) {
    position: static;
    justify-content: flex-start;
    order: -1;
    box-shadow: none;
    width: 100%;
    border: none;
    transform: none;
  }
}

.groceries {
  border-right: 0.5px solid $orange;
  border-left: 0.5px solid $orange;
  border-bottom: 0.5px solid $orange;
  width: 60%;
  button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
  }
}

.fridge-form--desktop {
  display: none;
}

@media (min-width: 900px) {
  .fridge-form--mobile { display: none; }
  .fridge-form--desktop { display: flex; }
}

.fas.fa-chevron-circle-down.grocery-arrow,
.fas.fa-chevron-up.grocery-arrow {
  font-size: 1.3rem;
  color: $orange;
}

.fas.fa-chevron-circle-down.fridge-arrow,
.fas.fa-chevron-up.fridge-arrow {
  font-size: 1.3rem;
  color: $main-green;
}

.form-group.select.required.fridge_item_ingredient {
  display: flex;
  flex-direction: column;
}

#fridge-items-list {
  font-size: 1.3rem;
  list-style: none;
  padding: 0;

  .quantity {
    // margin-left: 1rem;
    width: 10rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 50;
    // @media (min-width: 900px) {
    //   width: 9rem;
    // }
  }

  i.math {
    font-size: 0.85rem;
    margin: 0 8px;
    @media (min-width: 900px) {
      font-size: 1rem;
    }
  }


}
