.grocery-items__wrapper {
  transition: all .5s ease-in-out;

  @media (min-width: 900px) {
    width: 90%;
    column-width: 20rem;
    column-gap: 1rem;
  }
}


#grocery-items-list {
  font-size: 1.3rem;
  list-style: none;
  padding: 0;

  i.checkbox {
    margin-right: 8px;
  }

  .quantity {
    margin-left: 1rem;
    width: 9rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 50;
  }

  i.math {
    font-size: 0.85rem;
    margin: 0 8px;
    @media (min-width: 900px) {
      font-size: 1rem;
    }
  }
}

.grocery-item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  margin: 16px auto;
  padding: 16px;
  transition: opacity 500ms ease;
  position: relative;

  border-bottom: 1px solid $light-gray;

  &:last-child {
    border: none;
  }


  .delete-grocery-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 25px;

    width: 80px;
    position: absolute;
    right: -40px;
    top: 0;
    opacity: 0;
  }

  &:hover {
    .delete-grocery-item {
      opacity: 1;
    }
  }
}

#update-grocery {
  display: block;
  margin: 16px auto;
}
