#grocery-items-list {
  font-size: 1.3rem;
  list-style: none;
  padding: 0;
  // line-height: 2;

  i.checkbox {
    margin-right: 8px;
  }

  .quantity {
    margin-left: 16px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    z-index: 50;

    .quantity-text {

    }
  }

  i.math {
    font-size: 18px;
    margin: 0 8px;
  }
}

.grocery-item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  margin: 16px auto;
  padding: 16px;
  transition: opacity 500ms ease;
  position: relative;

  border-bottom: 1px solid $light-gray;

  &:last-child {
    border: none;
  }


  .delete-grocery-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 25px;

    width: 80px;
    position: absolute;
    right: -40px;
    top: 0;
    opacity: 0;
  }

  &:hover {
    .delete-grocery-item {
      opacity: 1;
    }
  }
}

.new_grocery_item {
  // margin: 16px auto 32px auto;
  // text-align: left;
}

.new_grocery_item {
  box-sizing: border-box;
}

#update-grocery {
  display: block;
  margin: 16px auto;
}
