// Specific CSS for your home-page

.landing-page {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.landing-page h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  line-height: 64px;
}

.landing-typed {
    margin-left: 16vh;
}

.landing-btn {
    margin-left: 16vh;
}

.btn {
    margin-right: 8px;
}

.btn-outline-secondary {
    color: lightgrey;
}
// .landing-page p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }