.fade_in {
  opacity: 0;
  transition: opacity 1s ease;
}

#reviews-list > li {
  transition: opacity 1s ease;
  list-style: none;
}


.start-button {
  margin:10px;
}

.item-a {
  grid-area: ingredients;
  height: 100vh;
  overflow: scroll;
}
.item-b {
  grid-area: title;
  height: 50vh;
  overflow: scroll;
}
.item-c {
  &.recipe-image {
    max-height:100%;
    max-width:100%;
    position: relative;

    .add-to-wishlist {
      position: absolute;
      top:15px;
      right:15px;
      width: 32px;
      height: 32px;

      i {
        position: absolute;
        top:0px;
        right:0px;
      }
    }
  }
  grid-area: image;
  height: 50vh;
}

.item-d {
  grid-area: steps;
  height: 50vh;
  /*overflow: scroll;*/
}

.page-container {
  display: grid;
  grid-template-columns: 28% 36% 36% ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "ingredients title image"
    "ingredients steps steps";
}

.start-button {
  margin:35px;
  text-align: center;
}



#ingredients-list {
  list-style: none;
  padding: 0;
}

#title {
  margin-left: 13px;
}
li {
  list-style: none;
}

