.fade_in {
  opacity: 0;
  transition: opacity 1s ease;
}

#reviews-list > li {
  transition: opacity 1s ease;
  list-style: none;
}

.grid-container {
  .recipe-image {
    position: relative;

    .add-to-wishlist {
      position: absolute;
      top:15px;
      right:15px;
      width: 32px;
      height: 32px;

      i {
        position: absolute;
        top:0px;
        right:0px;
      }
    }
  }

}


#ingredients-list {
  list-style: none;
  padding: 0;
}
