#recipe-steps {
  width: 100%;
}

.row {
  position: sticky;
  top:0;
}

.steps-header {
  padding: 45px;
  margin-bottom: 16px;
  img {
    width: 300px;
    border-radius: 5%;
    margin-top: 10px;
  }
}

.slick-dots {
  list-style: none;
  margin: auto;
  padding: 0;

  li {
    display: inline-block !important;

    button {
      margin: 0 8px;
      border-radius: 50%;
      background-color: $main-green;
      border: none;
      width: 35px;
      height: 35px;
    }
  }
}
.ingredients-list {
  #title-step {
    margin: 70px 0 0 70px;
    font-size: 24px;
  }
  ul {
    margin-top: 13px;
    margin-left: -20px;
    line-height: 2;
    list-style: none;
  }
}
