// Changes made by MZ
#mobile-ingredient-title {
  text-align: center;
}

.mobile-steps-list {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.steps-card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  margin: 1rem;
  line-height: 1.75rem;
  border-radius: 5px;
}

#recipe-steps {
  width: 100%;
  padding: 0 29px;
  margin-top: 20px;
}

.ingredients-row {
  position: sticky;
  top: 0;
}

.steps-header {
  padding: 0px 45px;
  color: white;
  min-height: 270px;
  background-size: cover;
  margin: 35px 47px 20px 47px;
  img {
    z-index: 1;
    width: 300px;
    border-radius: 5px;
    // margin-top: 22px;
    @media (max-width: 540px) {
      border-radius: 0;
      width: 100%;
    }
    @media (min-width: 800px) {
      height: 100%;
    }
    @media (min-width: 800px) {
      display: flex;
    }
  }
  h1{
    padding-left: 30px;
    color: white;
    font-weight: bolder;
    @media (max-width: 540px) {

    position: absolute;
      top: calc(50% - 30px);
      color: white;
      font-size: 30px;
      padding: 0 10px;
      text-align: center;
    }
  }
  @media (max-width: 540px) {
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.slick-dots {
  list-style: none;
  margin: auto;
  padding: 0;

  li {
    display: inline-block !important;

    button {
      margin: 0 8px;
      border-radius: 50%;
      background-color: $main-green;
      border: none;
      width: 35px;
      height: 35px;
    }
  }
}
.ingredients-list {
  #title-step {
    margin: 24px 0 0 70px;
    font-size: 24px;
    @media (max-width: 540px) {
      margin: 0 10px;
    }
  }
  ul {
    margin-top: 13px;
    padding-left: 10px;
    line-height: 2;
    list-style: none;
  }
  @media (max-width: 540px) {
    margin-top: 15px;
    text-align: center;
  }
}

#progress-bar {
  /*border: $main-green solid;*/
  background: rgba(118, 162, 30, 0.4);
  // margin: 0 45px 0 45px;
  margin: 0px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @media (max-width: 540px) {
    padding: 0;
    margin: 0;
    border-radius: 0px;
  }
}


.progress-fraction {
  height: 20px;
  border-radius: 5px;
  background-color: #658917;
  @media (max-width: 540px) {
    border-radius: 0px;
  }
}

.recipe-step{
  padding: 0 30px;
}

/*Responsive for Steps*/

/*@media (max-width: 960px) {
   For a screen < 960px, this CSS will be read
  .mobile-only { display: none; }
  .desktop-only { display: initial; }
}*/

.step_wrapper {
  // display: none;
  // opacity: 0;
  transition: 1s all ease;
  max-height: 0px;
  overflow: hidden;

}

#done-cooking {
  display: none;
}


.link_to_done:hover {
  text-decoration: none;
}

.page-container {
  .slick-slide {
    height: 40vh;

    > div {
      height: 100%;

      .recipe-step {
        display: flex !important;
        justify-content: center;
        align-items: center;

        height: 40vh;

        font-size: 1.2rem;
      }
    }
  }
}
