<% content_for :meta_title, "My Fridge - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container fridge__container">

  <div class="fridge-wrapper">

    <div class="fridge__body">
      <!-- <h2><i class="fas fa-door-open"></i>My Fridge</h2> -->
        <h2 class="fridgeh2"><%= image_tag "fridge-green.png", alt: "fridge logo", class: "fridge__logo--mobile" %>My Fridge</h2>

      <div class="category-wrapper">

        <div class="fridge-form fridge-form--mobile"><%= render "form" %></div>
        <div class="fridge-form fridge-form--desktop"><%= render "form-desktop" %></div>

        <%= render "category_grid_wrapper", categories: @categories, fridge_items: @fridge_items %>


      </div> <!-- end of category wrapper -->

    </div>

  </div> <!-- end of fridge wraper -->

</div>
