<div class="container fridge__container">

  <div class="fridge-wrapper">

    <div>
      <h2><i class="fas fa-door-open"></i>My Fridge</h2>

      <div class="category-wrapper">

        <div class="fridge-form"><%= render "form" %></div>

        <div class="category-grid__wrapper">


          <% @categories.each do |category| %>

            <div class="category-list-new">
              <h3 class="fridge-category"><%= category unless category == '?' %></h3>

              <% @fridge_items.each do |item| %>
                <% if category.include?(item.ingredient.category) %>

                  <div id="fridge-items-list" class="mt-3 fridge-items-list">
                      <%= render "fridge_item", item: item %>
                  </div>
                <% end %>
              <% end %>
            </div>

          <% end %>

        </div>

      </div> <!-- end of category wraper -->

    </div>

  </div> <!-- end of fridge wraper -->

</div>
