<div class="container fridge__container">
    <div class="fridge-wrapper">
      <div>
        <h2><i class="fas fa-door-open"></i>My Fridge</h2>

        <div class="category-wrapper">

          <div class="fridge-form"><%= render "form" %></div>
          <div class="category-list-new">
            <h3 class="fridge-category">Liquids</h3>

            <div id="fridge-items-list" class="mt-3 fridge-items-list">
              <% @fridge_items.each do |item| %>
                <%= render "fridge_item", item: item %>
              <% end %>
            </div>
          </div>
          <div class="category-list-new">
            <h3 class="fridge-category">Solids</h3>

            <div id="fridge-items-list" class="mt-3 fridge-items-list">
              <% @fridge_items.each do |item| %>
                <%= render "fridge_item", item: item %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
