<div class="container">

  <h2>My Fridge items</h2>

  <%= render "form" %>

  <ul id="fridge-items-list" class="mt-3">
    <% @fridge_items.each do |item| %>
      <%= render "fridge_item", item: item %>
    <% end %>
  </ul>

</div>
