<div class="container">
  <div class="fridge-item-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <h2>My Fridge items</h2>

        <%= render "form" %>

        <div id="fridge-items-list" class="mt-3">
          <% @fridge_items.each do |item| %>
            <%= render "fridge_item", item: item %>
          <% end %>
        </div>
     </div>
    </div>
  </div>
</div>
