<h1>FridgeItems#show</h1>
<% @fridge_items.each do |fridge.item| %>
  <%= link_to recipe_path(recipe.id) %>
    <h2><%= fridge.item.ingredient.name %></h2>
    <p><%= fridge.item.ingredient.unit_of_measure %> <%= fridge.item.quantity %> </p>
<% end %>
