<div class="opacity-background" style="display: none">

  <div class="recipe-card-popup">
    <h4><%= recipe.name %></h4>
    <% recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </div>

</div>

