<% if recipe.reviews.empty? %>
  <div class="rating-stars no-reviews">
    (No reviews yet)
  </div>
<% else %>
  <div class="rating-stars rating-main-green">
      <% if (recipe.rating % 1).zero? %>
        <% recipe.rating.round.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - recipe.rating.round).times do %>
          <i class="far fa-star"></i>
        <% end %>
        (<%= recipe.reviews.count %>)
      <% else %>
        <% recipe.rating.floor.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <i class="fas fa-star-half-alt"></i>
        <% (5 - recipe.rating.ceil).times do %>
          <i class="far fa-star"></i>
        <% end %>
        <span class="number-of-reviews">
          (<%= recipe.reviews.count %>)
        </span>
      <% end %>
  </div>
<% end %>
