<div class="container">
  <h1>Recipes for You</h1>

  <div class="recipes-container">

    <% @recipes.each do |recipe| %>

      <div class="recipe-card" data-recipe-id="<%= recipe.id %>">
        <h4><%= recipe.name %></h4>
        <%= link_to 'link', recipe_path(recipe.id) %>
      </div>

    <% end %>

  </div>

</div>


