<div class="container">
  <h1>Recipes for You</h1>

  <% @recipes.each do |recipe| %>
    <h4><%= recipe.name %></h4>
    <% recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  <% end %>
</div>

