<div class="container">

  <% if @wishlist_recipes.count.positive? %>

    <h2 class="">My Wishlist</h2>
    <div class="wishlist-container row">

      <div id="wishlist-recipes-slider" class="col-12 d-flex">
        <% if @wishlist_recipes.count > 100 %>
          <div class="wishlist-link"></div>
        <% end %>

        <% @wishlist_recipes.each do |recipe| %>

          <%= link_to recipe_popup_path(recipe), class: "no-link wishlist-link", remote: true do %>
            <%= render "recipe_card", recipe: recipe, wishlist: true %>
          <% end %>

        <% end %>

        <% if @wishlist_recipes.count > 1000 %>
          <div class="wishlist-link"></div>
        <% end %>
      </div>

    </div>

  <% end %>

  <h2 class="mt-3">Recommendations</h2>

  <div class="recipes-container mt-3">

    <% @recipes.each do |recipe| %>

      <%= link_to recipe_popup_path(recipe), class: "no-link", remote: true do %>

        <%= render "recipe_card", recipe: recipe %>

      <% end %>

    <% end %>

  </div>

</div>


