<div class="container">
  <h1>Recipes for You</h1>

  <div class="recipes-container">

    <% @recipes.each do |recipe| %>

      <%= render "recipe_card", recipe: recipe %>

    <% end %>

  </div>

</div>


