<h1>TEST</h1>
<h2>Missing Ingredients</h2>
<% @recipe.missing_ingredients(current_user).each do |recipe_item| %>
  <li><%= recipe_item.ingredient.name %> <%= recipe_item.how_many_missing %></li>
<% end %>

<h2>Matching Ingredients</h2>
<% @recipe.matching_ingredients(current_user).each do |recipe_item| %>
  <li><%= recipe_item.ingredient.name %> <%= recipe_item.quantity %></li>
<% end %>
