var insertNewWishlistRecipe = (recipeCardHTML) => {

  var wishlistLinks = document.querySelectorAll('.wishlist-link');

  if (wishlistLinks.length > 1) {
    window.unslick();
  }

  setTimeout(() => {
    var wishlistHeader = document.querySelector('.wishlist-header')
    wishlistHeader.classList.remove("hidden");

    var wishlistSlider = document.getElementById('wishlist-recipes-slider');
    if (wishlistSlider) {
      wishlistSlider.insertAdjacentHTML("beforeend", recipeCardHTML)
    }

    window.slick();
  }, 200)

}

swal({
  title: `Added "<%= @recipe.name %>" to your wishlist!`,
  icon: "success",
  buttons: false
})

insertNewWishlistRecipe('<div class="no-link wishlist-link px-3"><%= j render "recipes/recipe_card", recipe: @recipe %></div>')

var swalOverlay = document.querySelector('.swal-overlay');
swalOverlay.setAttribute("id", "swal-overlay");

var swalAlert = document.querySelector('.swal-modal');
swalAlert.setAttribute("id", "swal-modal");

setTimeout(() => {
  swalOverlay.style.opacity = 0;
}, 2000)

setTimeout(() => {
  swalOverlay.remove();
}, 3000);




