
<div id="showjs">

</div>

<script>
  if (document.body.offsetWidth >= 540) {
      document.getElementById('showjs').insertAdjacentHTML("beforeend",'<%=j render "laptop_steps" %>');
   } else {
     document.getElementById('showjs').insertAdjacentHTML("beforeend",'<%=j render "mobile_steps" %>');
   }
</script>
