.button {
  border-radius: 16px;
  padding: 12px 8px;
  border: none;
  font-weight: bold;
}

.button-center {
  text-align: center;
}

.button-lg {
  font-size: 1.1rem;
}

.button-info {
  background-color: $info-blue;
  color: white;

  &:hover {
    background-color: $info-blue-hover;
    color: white;
    text-decoration: none;
  }
}

.button-main-red {
  background-color: $main-red;
  color: white;

  &:hover {
    background-color: $main-red;
    opacity: 0.9;
    color: white;
    text-decoration: none;
  }
}

.button-main-green {
  background-color: $main-green;
  color: white;

  &:hover {
    background-color: $main-green;
    opacity: 0.9;
    color: white;
    text-decoration: none;
  }
}

