.no-link.checkbox {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

    i {
      margin-right: 0.5rem;
    }

    h5 {
    margin: 0;
    font-size: 1.3rem;
  }
}
