.add-to-wishlist {
  color: $main-green;
  font-size: 32px;
  // &:hover {
  //   color: $main-green-hover;
  // }
}

.add-to-wishlist-empty {
  color: $main-green;
  font-size: 32px;
  // &:hover {
  //   color: $main-green-hover;
  // }
}

.delete-icon {
  color: $red;
  &:hover {
    color: $red-hover;
  }
}

