// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "recipe_card";
@import "wishlist_card";
@import "simple_form";
@import "sidebar";
@import "icons";
@import "swal";
@import "buttons";
@import "index_recipe_card";
@import "circle";
@import "checkbox";
@import "recipe_card_popup";
@import "info_circle";
@import "fridge_item";
@import "recipe_header";
@import "select2";
@import "form";
@import "scrollbar";
@import "grocery-items";
@import "reviews";



.no-link {
  text-decoration: none;
  color: $gray;
  &:hover {
    text-decoration: none;
    color: $gray;
  }
}

.shadowed {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.container {
  padding-top: 4.5rem;
  padding-bottom: 32px;

}

#recipes-container {
  margin-top: 0;
  padding-top: 4.5rem;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $roboto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

}
p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $gray;
}

body {
  background-color: white;
  color: $gray;
}

