// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "recipe_card";
@import "simple_form";


.no-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
