// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "recipe_card";
@import "wishlist_card";
@import "simple_form";
@import "sidebar";
@import "icons";
@import "swal";
@import "buttons";
@import "index_recipe_card";


.no-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  padding: 32px 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $roboto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

}
p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $gray;
}

body {
  color: $gray;
}
