.navbar-lewagon-white {
  background-color: white;
  z-index: 900;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas.fa-leaf.logo {
  font-size: 1.5rem;
}

.navbar-nav.mr-auto.avatar {

 @media screen and (min-width: 576px) {
    margin: auto;
  }
}

.collapse.navbar-collapse.justify-content-between.cookbar {

  @media screen and (min-width: 576px) {
    width: 100%;
  }

}

.dropdown-item.cookdrop {
  color: #303030;
}

.navbar.fixed-top {
  z-index: 400;
}


.navbar-light .navbar-nav .nav-link.disabled {
    color: $gray;
}

.navbar-light .navbar-nav .nav-link {
    color: $gray;
}

.nav-item .avatar {
  cursor: pointer;
}
