.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
  &:hover {
    background-color: white;
  }
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas.fa-leaf.logo {
  font-size: 1.5rem;
}

.navbar-nav.mr-auto.avatar {

 @media screen and (min-width: 576px) {
    margin: auto;
  }
}

.collapse.navbar-collapse.justify-content-between.cookbar {

  @media screen and (min-width: 576px) {
    width: 100%;
  }

}

.dropdown-item.cookdrop {
  color: #303030;
}

.navbar.fixed-top {
  z-index: 400;
}
