.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.recipe-card {
  background: white;
  margin: 8px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
  cursor: pointer;
}

.opacity-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

.recipe-card-popup {
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 600;

  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
}
