.header-container {
  background-size: cover;
  background-position: center;
  // border-radius: 5px 5px 5px 5px;

  width: 100%;

  height: auto;

  padding: 24px;

  h1, h2 {
    color: $gray;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  span, .no-reviews, .number-of-reviews {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  i.far.fa-star,
  i.fas.fa-star,
  i.fas.fa-star-half-alt  {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    // color: $gray;
  }

  .rating-stars {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
  }


  .header-text-bigger {
    font-size: 1.1rem;
  }
}
