.recipe-card-popup {
  width: 100%;
  height: 100%;

  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  cursor: default;

  border-radius: 5px;
  position: relative;

  // padding: 16px;

  .header-container {
    border-radius: 5px 5px 0 0;
  }

  .missing-ingredients-container {
    // padding-bottom: 16px;
    margin-bottom: 1.2rem;

    h4 {
      margin-bottom: 1.2rem;
    }
  }

  .recipe-reviews {
    margin-top: 32px;
    h4 {
      margin: 0;
    }

    #reviews-list > li:last-child {
      border-bottom: none;
    }
  }

  .popup-ingredients-list {
    list-style: none;
    padding: 0;

    line-height: 1.7;

    font-size: 18px;
  }

  button.close {
    position: absolute;
    top: 2px;
    right: 8px;

    font-size: 2rem;
  }

  .close-popup {
    position: absolute;
    top: 7px;
    right: 7px;

    i {
      opacity: 0.7;
      font-size: 20px;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }

  .item-d {
    height: auto;

    .no-reviews {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.review-header-popup {
  color: lightgreen;
  &:hover {
    color: $green;
  }
}

.ingredient-red i {
  color: red;
}

.ingredient-orange i {
  color: $orange;
}

.ingredient-green i {
  color: green;
}

.recipe-card-popup-scrollable {
  overflow: auto;
  height: 100%;
  // position: relative;
}

.recipe-card-popup-container {
  background-color: transparent;
  // z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  // padding: 24px;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

.opacity-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  cursor: pointer;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 5vh 0.5rem;
    pointer-events: none;
    height: 90vh;
}

.modal-content {
  height: 100%;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 550px;
      margin: 1.75rem auto;
  }

  .recipe-card-popup {
    .missing-ingredients-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      padding-bottom: 0px;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}

