.list-ingredients { grid-area: ingredient; }
.recipe-info { grid-area: summary; }
.recipe-image { grid-area: image; }
// .recipe-steps { grid-area: steps; }
.recipe-reviews{grid-area: reviews;}

.grid-container {
  display: grid;
  grid-template-areas:
    'ingredient summary summary image image image'
    'ingredient summary summary image image image'
    'ingredient steps steps steps steps steps'
    'ingredient reviews reviews reviews reviews reviews';
  grid-gap: 1px;
  background-color: white;
  padding: 1px;
  border:lightgrey solid;
}

.grid-container > div {
  text-align: center;
}
.list-ingredients #title {
  font-size: larger;
  margin-bottom: 20px;
}

.list-ingredients {
  padding: 10px;
  margin:1px;
}
.recipe-info {
  padding: 10px 0;
  margin:10px;
}

ul {
  text-align: left;
}

.recipe-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.recipe-title {
  margin-left: 20px;
  text-align: left;
}

.recipe-info {
  padding: 10px;
}
.recipe-details{
  margin-top: 100px;
  margin-right: 25px;
}
.recipe-preptime {
  padding-right: 40px;
}
.recipe-difficulty {
  padding-right: 40px;
}
.recipe-calories {
  padding-right: 40px;
}
.recipe-steps {
  padding: 10px;
}
.recipe-reviews {

}

.ingredients-list {
  height: 100%;
}
