.recipe-card.wishlist-card {

}

.wishlist-link {
  width: 30%;
  padding: 16px 32px;
  // margin: 0 8px;
  // padding: 0 16px;
}

.chevron-div {
  padding: 16px;
  height: 100%;
  i {
    font-size: 32px;
    cursor: pointer;
  }
}
