.recipe-card.wishlist-card {

}

.wishlist-link {
  width: 400px;
  max-width: 600px;
  // padding: 16px 24px;
  outline: none;
  display: block;
  // margin: 0 8px;
  // padding: 0 16px;
}

.chevron-div {
  // padding: 16px;
  height: 100%;
  i {
    font-size: 32px;
    cursor: pointer;
  }
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

.slick-slide img.stopwatch-icon {
  display: inline-block;
}


#wishlist-recipes-slider {

}
