<li class="review-card">
  <div class="review-header d-flex align-items-center">
    <%= image_tag avatar_for(review.user)%>
    <div class="review-owner-info">
      <p><strong><%= review.user.email %></strong></p>
      <p class="date"><%= review.date.strftime("%b %d, %Y") %></p>
    </div>
  </div>
  <div class="review-rating">
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  </div>
  <div class="review-content">
    <%= review.content %>
  </div>
</li>
